[submodule "modules/puppetlabs-firewall"]
	path = modules/puppetlabs-firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/puppet-snmpd"]
	path = modules/puppet-snmpd
	url = https://github.com/example42/puppet-snmpd.git
[submodule "modules/puppet-firewall"]
	path = modules/puppet-firewall
	url = https://github.com/example42/puppet-firewall.git
